.env
node_modules

# WordPress
/db
wp-content/*

## Themes
wp-content/themes/**/*
!wp-content/themes/index.php

## Plugins
wp-content/plugins/**/*
!wp-content/plugins/index.php

## Uploads
!wp-content/uploads